{% extends "Myapp/base.html" %}
{% block body %}


  <div class="container">
      <div class="row">
          <div class="col-sm-6 mx-auto">
            <form action="/signup/" method="POST">
                {% csrf_token %}
                <div class="mb-3" method="POST">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email"  name= "email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" required name="password" class="form-control" id="exampleInputPassword1">
                </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
              {% if messages %}
              {% for message in messages %}
              <h4 style="color: red;">{{message}}</h4>
                
              {% endfor %}
                  
              {% endif %}
                  
          </div>
      </div>
  </div>
{% endblock body %}